
@font-face {
    font-family: 'Light';
    src: url('./fonts/KelsonLight.otf')
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/KelsonRegular.otf')
}

@font-face {
    font-family: 'Bold';
    src: url('./fonts/KelsonBold.otf')
}

input{
  border: 1px solid #000;
  font-size: 19px;
  text-align: center;
}

.Container {
  text-align: center;
  margin-top: 50px
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes example {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.the-thing {
    margin-top: 2em;
    font-size: 4em;
}

.thing-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.thing-enter.thing-enter-active {
  opacity: 1;
}

.thing-leave {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.thing-leave.thing-leave-active {
  opacity: 0.01;
}