body {
  margin: 0;
  padding: 0;
    font-family: 'Regular';
}

h1{
	font-size: 40px
}


@font-face {
    font-family: 'Light';
    src: url('./fonts/KelsonLight.otf')
}

@font-face {
    font-family: 'Regular';
    src: url('./fonts/KelsonRegular.otf')
}

@font-face {
    font-family: 'Bold';
    src: url('./fonts/KelsonBold.otf')
}

.results{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#SELECT_1 {
    background-position: 92% 50%;
    height: 40px;
    vertical-align: middle;
    width: 160px;
    -webkit-appearance: none;
    -webkit-background-clip: padding-box;
    -webkit-locale: en;
    -webkit-perspective-origin: 80px 20px;
    -webkit-transform-origin: 80px 20px;
    background: rgb(255, 255, 255) url(http://dominiquedecooman.com/sites/all/themes/ddc/images/select-arrow.png) no-repeat scroll 92% 50% / auto padding-box padding-box;
    border: 3px solid rgb(239, 239, 239);
    font: normal normal normal 13px/normal Arial, sans-serif;
    margin: 0px;
    padding: 5px 25px 5px 15px;
    -webkit-border-after: 3px solid rgb(239, 239, 239);
    -webkit-border-before: 3px solid rgb(239, 239, 239);
    -webkit-border-end: 3px solid rgb(239, 239, 239);
    -webkit-border-start: 3px solid rgb(239, 239, 239);
}/*#SELECT_1*/

#OPTION_2, #OPTION_3, #OPTION_5, #OPTION_7, #OPTION_9 {
    cursor: default;
    white-space: pre;
    align-self: center;
    -webkit-locale: en;
    font: normal normal normal 13px/normal Arial, sans-serif;
}/*#OPTION_2, #OPTION_3, #OPTION_5, #OPTION_7, #OPTION_9*/

#OPTION_4, #OPTION_6 {
    cursor: default;
    white-space: pre;
    align-self: center;
    -webkit-locale: en;
    font: normal normal normal 13px/normal Arial, sans-serif;
}/*#OPTION_4, #OPTION_6*/

#OPTION_8 {
    cursor: default;
    white-space: pre;
    align-self: center;
    -webkit-locale: en;
    font: normal normal normal 13px/normal Arial, sans-serif;
}/*#OPTION_8*/

